/*
Original design: Variant Duo (v1.2 - Sep 15, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-duo/
*/

/* Main containers */
body {padding:0; margin:0; font:83% verdana,sans-serif; background-color:#e4e4e4; color:#333; text-align:center; line-height:1.6em;}
#wrap {width:760px; text-align:left; margin:0 auto;}
#menu {text-align:right;margin-top:-40px;}
#content {background:#fff; text-align:left; padding:20px 20px 5px; margin:15px 0 15px 0; float:left;}
#sidebox {float: left; margin-right:-760px; padding: 10px; border: 20px solid #e4e4e4; background-color: #fff;}
.foobar {display: block; margin: 0 auto; border:1px solid black}

/* HTML Tags */
a {text-decoration:none; font-weight:400; color: /*#b59e4e*/#5555ff;}
a:hover {text-decoration:underline;}
a img {border:0;}
h1 {margin:15px auto 10px auto; padding:0; font-size:2.4em; color:#2a7a9a; letter-spacing:-1px; line-height:1.2em;}
h1 a {color:#2a7a9a; font-weight:700; text-decoration:none;}
h1 a:hover {color:#333; text-decoration:none;}
h2 {margin:0 0 12px 0; padding:10px 0; color:#2a7a9a; font-size:1.5em; font-weight:700; border-top: 1px solid #ddd; border-bottom:1px solid #ddd;}
h2 a {font-weight:700;}
h3 {font-size:1.4em; font-weight:400; margin:0.5em 0 0.5em 0;}
p {margin:0 0 15px 0; font-size: 1.1em;}
ul {margin:0.5em 0 15px 20px; padding:0;}
li {margin:0; padding:0 0 0 5px;}

/* Various classes */
.slogan {color:#555; font-size:1.4em; margin:0 0 15px 0; padding:0;}
.feature {border-top:2px solid #fff; border-bottom:2px solid #fff;}
.menulinks {font-size:1.4em; line-height:1.9em; color:#555; margin:0 0 15px 0;}
.menulink {padding:6px 8px 5px 8px; font-weight:400; margin:0 0 0 2px; color:#555;}
.menulink:hover {background-color:#eee; color:#333; text-decoration:none;}
.active {background-color:#2a7a9a; color:#fff;}
.active:hover {background-color:#2a7a9a; color:#fff;}
.footer{font-size:0.8em; clear:both; width:760px; line-height:1.4em; text-align:right; color:#888; font-weight:400; margin-bottom:10px;}
.footer a {color:#888; font-weight:400; text-decoration:none; border-bottom: 1px dotted #aaa;}
.left {float:left; width:49%;}
.right {float:right; width:49%;}
.centered {text-align:center;}
.hide {display:none;}
.clear {clear:both; width:980px; visibility:hidden;}
